
/*
 * Reset default styles and set box model
 */
 *, *::before, *::after, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*
   * Set base styles for body and HTML
   */
  html, body {
    height: 100%;
  }
  
  body {
    color: var(--main-color);
    background: var(--background-color);
    font-size: var(--base-font-size); /* Set font size to 10px for easier rem calculation */
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
  
  /*
   * Define link styles
   */
  a, a:visited {
    color: var(--main-color);
    transition: 200ms;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  a:hover, a:active {
    color: var(--hover-color);
  }
  