@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body, html {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #fff;
    overflow-x: hidden;
    background: #2F3238;
}

h1 {
    text-transform: none;
}

h1 strong {
    font-weight: 800;
}

h2 {
    text-transform: none;
    line-height: 20px;
    margin: 0;
    color: #fff;
}

h3 {
    font-size: 18px;
    font-weight: 900;
}

h4 {
    text-transform: none;
}

h5 {
    text-transform: none;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

p.par {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #9b080a;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9b080a;
}

ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

.spacer {
    margin-bottom: 50px;
}

.section-title.center {
    padding: 30px 0;
}

.section-title h2,
.section-title.center h2 {
    font-weight: 300;
}

.section-title.center .line {
    border-top: 4px solid #9b080a;
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    &:hover {
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 15%;
    }
}

#art-menu {
    padding: 20px;
    transition: all 0.8s;

    &.navBar-default {
        background-color: rgba(248, 248, 248, 0);
        border-color: rgba(231, 231, 231, 0);

        a.navBar-brand {
            text-transform: uppercase;
            font-size: 22px;
            color: #fff;
            font-weight: 900;

            &:hover {
                color: #9b080a;
            }
        }

        &.navBar-default {
            .navBar-nav > li > a {
                text-transform: uppercase;
                color: #FFF;
                font-size: 12px;
                letter-spacing: 1px;
            }

            &.on {
                background-color: #26292E !important;
                padding: 0 !important;
            }

            .navBar-toggle {
                border-radius: 0;

                &:hover,
                &:focus {
                    background-color: #9b080a;
                    border-color: #9b080a;

                    .icon-bar {
                        background-color: #FFF;
                    }
                }

                .icon-bar {
                    background-color: #fff;
                }
            }

            @media (max-width: 603px) {
                &.navBar-default {
                    background-color: rgba(0, 0, 0, 0.79);
                }
            }
        }
    }
}

#home {
    background: url(https://img.freepik.com/free-vector/copy-space-blue-circuits-digital-background_23-2148821699.jpg?q=10&h=200);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;

    .content {
        position: relative;
        padding: 10% 0 0;

        .layer {
            height: 730px;
            background-attachment: fixed;
            background: rgba(7, 2, 4, 0.77);
        }
    }

    p.par {
        color: #fff;
    }
}

.white-bg {
    background: #ffffff;
    padding: 120px 0;
    display: block;
}
/* Contact Section
==============================*/
#contact {
    padding-top: 45px;
    padding-bottom: 0;
    padding: 90px 0;

    &::selection {
        color: #7F8289;
        border: 1px solid #26292E;
    }

    &::-moz-selection {
        color: #7F8289;
        border: 1px solid #26292E;
    }

    #contact-form {
        max-width: 650px;
        margin: 70px auto;
        float: none;

        input[type="text"],
        textarea {
            color: #7F8289;
            font-size: 12px;
            padding: 15px 0;
            width: 100%;
            padding-left: 10px;
            background: #26292E;
            margin-bottom: 20px;
            border: 0;
            border: 1px solid #26292E;
            position: relative;
        }

        input[type="submit"] {
            float: none;
            margin: 20px auto;
        }
    }

    .error_message {
        color: red;
    }

    form {
        text-align: center !important;
        max-width: 600px;
        float: left;

        input[type="text"],
        textarea {
            color: #7F8289;
            font-size: 12px;
            padding: 15px 0;
            width: 100%;
            padding-left: 10px;
            background: none;
            background: rgba(255, 255, 255, 0.2);
            margin-bottom: 20px;
            position: relative;
            border: 1px solid #26292E;

            &:focus {
                color: #fff;
                outline: none;
            }
        }

        textarea {
            height: 170px;
            resize: none;
        }

        input[type="submit"],
        .controls button {
            background: none;
            border: none;
            border-radius: 0;
            padding: 14px 20px;
            line-height: 14px;
            cursor: pointer;
            font-size: 13px;
            color: #fff;
            -webkit-appearance: none;
            float: right;
            background: #26292E;

            &:hover {
                background: #9b080a;
            }
        }
    }

    .error_message {
        text-align: center;
        margin-bottom: 30px;
        font-size: 15px;
        color: #fff;
    }

    #success_page {
        h3 {
            text-align: center;
            font-size: 18px;
        }

        p {
            color: #fff;
            margin-top: 20px;
            text-align: center;
        }
    }

    #message fieldset {
        border: none;
        color: #fff;
    }

    p,
    #success_page p {
        color: #666;
        text-align: center;
    }

    #message fieldset {
        color: #fff;
    }
}
/* Portfolio Section
==============================*/
#portfolio {
    padding: 80px 0;

    .view {
        border-radius: 0;
        padding: 12px 18px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        color: white;
        border: 1px solid white;
        background: transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        border-radius: 0 !important;
        color: #fff;

        &:hover {
            background: #9b080a;
            color: #fff;
            border: 1px solid #9b080a;
        }
    }

    #recent-works {
        padding: 90px 0;

        .item-inner {
            position: relative;
            margin: 0;
        }

        .portfolio-items,
        .portfolio-filter {
            list-style: none;
            padding: 0;
            margin: 0 -20px 20px 0;
            color: #fff;
        }

        .portfolio-filter > li {
            display: inline-block;
        }

        .portfolio-filter .btn-default {
            color: #fff;
            background-color: #26292E;
            border-color: #26292E;
        }

        .portfolio-filter .active {
            color: #fff;
            background-color: #9b080a;
            border-color: #9b080a;
        }

        .portfolio-items > li {
            float: left;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .portfolio-items.col-2 > li {
            width: 50%;
        }

        .portfolio-items.col-3 > li {
            width: 33%;
        }

        .portfolio-items.col-4 > li {
            width: 25%;
        }

        .portfolio-items.col-5 > li {
            width: 20%;
        }

        .portfolio-items.col-6 > li {
            width: 16%;
        }

        .portfolio-item {
            padding: 0;
            margin: 0;

            .item-inner {
                background: #26292E;
                padding: 5px 5px 0;
                margin: 0 10px 10px 0;
                position: relative;

                img {
                    width: 100%;
                }

                h5 {
                    background-color: #26292E;
                    margin: 0;
                    padding: 10px 0;
                    font-weight: 700;
                    font-size: 14px;
                    color: #fff;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .layer {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background: rgba(7, 2, 4, 0.77);
                    text-align: center;
                    vertical-align: middle;
                    -webkit-transition: opacity 300ms;
                    -moz-transition: opacity 300ms;
                    -o-transition: opacity 300ms;
                    transition: opacity 300ms;

                    .preview {
                        position: relative;
                        top: 50%;
                        display: inline-block;
                        margin-top: -20px;
                    }
                }

                &:hover .layer {
                    opacity: 1;
                }
            }
        }
    }

    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 17.5px;
        border: none;
    }

    a.fa.fa-angle-down {
        padding: 10px 15px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 24px;
        margin-top: 200px;
        transition: all 0.5s;

        &:hover {
            color: #9b080a;
            border: 2px solid #9b080a;
        }
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
    }
}
/* Footer Section
==============================*/
#footer {
    color: #fff;
    background: #26292E;

    .footer-top {
        position: relative;
        padding: 30px 0;
    }

    .footer-bottom {
        background-color: #26292E;
        padding: 20px 0 10px;

        a:hover {
            text-decoration: underline;
        }
    }

    .footer-logo {
        display: inline-block;
        margin-bottom: 5px;

        a {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .social-icons {
        margin-top: 15px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            li {
                float: left;
                margin-right: 8px;

                a {
                    color: #fff;
                    background-color: #d9d9d9;
                    height: 36px;
                    width: 36px;
                    line-height: 36px;
                    display: block;
                    font-size: 16px;
                    opacity: 0.8;
                    border-radius: 50%;

                    &:hover {
                        border-radius: 10px;
                        background-color: #9b080a;
                    }
                }
            }
        }

        .icon-lg {
            font-size: 48px;
            height: 108px;
            width: 108px;
            line-height: 108px;
            color: #fff;
            margin: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            display: inline-block !important;
            border-radius: 100%;
        }

        .icon-md {
            font-size: 36px;
            height: 68px;
            width: 68px;
            line-height: 68px;
            color: #fff;
            margin-right: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            display: block;
            border-radius: 50%;
            transition: 500ms;
        }

        .icon-sm {
            font-size: 24px;
            height: 34px;
            width: 34px;
            line-height: 34px;
            color: #fff;
            margin-right: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            display: block;
            border-radius: 50%;
            transition: 500ms;
        }
    }
}
